.itemListBackground {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("https://res.cloudinary.com/duxqgahbk/image/upload/v1678562618/fondo_ygwqg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.itemList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
